<!-- source : http://codepen.io/fullkornslimpa/pen/jxiHd/ -->

<!DOCTYPE html>
<html>
  <head></head>
  <body>
  <article>
    <div class="pad" data-username="<%= cookies.signed[:username] %>">
      <div class="topBox">
      </div>
      <div class="blackPlane">
        <span class="nintendo">Nintendo</span>
        <div class="copy"></div>
        <span class="r">R</span>
        <div class="greyFirst"></div>
        <div class="greySecond first"></div>
        <div class="greySecond second"></div>
        <span class="selectText">Select</span>
        <span class="startText">Start</span>
        <div class="centerBtn select">
          <div class="btnShadow"></div>
        </div>
        <div class="centerBtn start">
          <div class="btnShadow"></div>
        </div>
        <div class="centerPanel"></div>
        <div class="centerPanelInside"></div>
        <div class="greyLast"></div>
        <div class="greySquare a">
          <div class="btn control" data-action="b">
            <div class="btnLight"></div>
          </div>
          <span class="bBtn">b</span>
        </div>
        <div class="greySquare b">
          <div class="btn control" data-action="a">
            <div class="btnLight"></div>
          </div>
          <span class="aBtn">a</span>
        </div>
        <div class="crossV"></div>
        <div class="crossTop control holdcontrol" data-action="up">
          <div class="arrowUp"></div>
          <div class="arrowSquareUp"></div>
        </div>
        <div class="crossRight control holdcontrol" data-action="right">
          <div class="arrowRight"></div>
          <div class="arrowSquareRight"></div>
        </div>
        <div class="crossBottom control holdcontrol" data-action="down">
          <div class="arrowBottom"></div>
          <div class="arrowSquareBottom"></div>
        </div>
        <div class="crossLeft control holdcontrol" data-action="left">
          <div class="arrowLeft"></div>
          <div class="arrowSquareLeft"></div>
        </div>
        <div class="crossCenter">
          <div class="crossCircle"></div>
        </div>
        <div class="crossO"></div>
      </div>
    </div>
  </article>

  </body>
</html>

